.navbar-brand{
  text-shadow: 0 0 5px #80DE99, 0 0 5px #80DE99;
}
img{
  height: 1.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
body{
    position: relative;
}
.input-group{
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -25px 0 0 -10px;
  padding-left: 1rem;
  z-index: 10;
}
.fas{
  text-shadow: 0 0 5px #80DE99, 0 0 5px #80DE99;
}

.far{
  color: #DDDDDD;
  text-shadow: 0 0 5px #80DE99, 0 0 5px #80DE99;
  margin-top: 0.92rem;
  padding-right: 0.7rem;
  
}

.fab{
  margin-top: 0.35rem;
  text-shadow: 0 0 5px #80DE99, 0 0 5px #80DE99;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.map-container2{
    overflow:hidden;
    padding-bottom:0;
    position:relative;
    height: 400px;
    width:100%;
}
  .map-container2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

.header{
  text-shadow: 0 0 3px #80DE99, 0 0 5px #80DE99;
}

.h3{
  text-shadow: 0 0 5px #80DE99, 0 0 5px #80DE99;
  font-family: 'Montserrat', sans-serif;
}

.h5{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
#content{
  margin-top: 7rem;
  padding: 10px;
}

.usage{
  padding-top: 3rem;
}

