
.body{
    position: relative;
}
.input-group{
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -25px 0 0 -10px;
  padding-left: 1rem;
  z-index: 10;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }