img{
  height: 1.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
body{
    position: relative;
}
.input-group{
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -25px 0 0 -10px;
  padding-left: 1rem;
  z-index: 10;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.map-container2{
    overflow:hidden;
    padding-bottom:0;
    position:relative;
    height: 400px;
    width:100%;
}
  .map-container2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
